:root {
  /* Variables CSS */
  --primary-color: #F16718;
  --secundary-color: #E8EFF2;
  --secundary-text-color: #7B8BAD;
  --text-color: #162542;
  --white: white;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

/* Variables SASS */
